@use '../base/vars' as *;
@use '../base/mixins'as *;

main {
  grid-template-columns: 1fr;
  width: 100vw;
  padding: 7px;

  @include tablet {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 2fr 1fr;
  }
  @include desktop {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
  }
}

#ordercontainer {
  background-color: $background-color;

  @include desktop {
    grid-area: 1/1/7/6;
  }
}

#queue {
  @include desktop {
    grid-area: 1/6/4/8;
  }
}

#workerscontainer {
  @include desktop {
    grid-area: 4/6/7/8;
  }
}

#tapcontainer {
  @include desktop {
    grid-area: 7/1/9/8;
  }
}

.worker,
.tap,
.order,
#queue {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px;
}
