@use '../base/vars' as *;

main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 7px;
  width: 100vw;
  height: 100vh;
}

#ordercontainer {
  background-color: $background-color;
  grid-area: 1/1/7/6;
}
#queue {
  background-color: blueviolet;
  grid-area: 1/6/4/8;
}
#workerscontainer {
  background-color: silver;
  grid-area: 4/6/7/8;
}
#tapcontainer {
  background-color: orange;
  grid-area: 7/1/9/8;
}
