@use '../base/vars' as *;
@use '../base/mixins'as *;

main {
  grid-template-columns: 1fr;
  width: 100vw;
  padding: 7px;

  h2 {
    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      display: none;
    }
  }

  @include tablet {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 2fr 1fr;
  }
  @include desktop {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
  }
}

#ordercontainer {
  background-color: $background-color;

  @include desktop {
    grid-area: 1/1/7/6;
  }
}

#queue {
  @include desktop {
    grid-area: 1/6/4/8;
  }
}

#workerscontainer {
  @include desktop {
    grid-area: 4/6/7/8;
  }
}

#tapcontainer {
  @include desktop {
    grid-area: 7/1/9/8;
  }
}

.worker,
.tap,
.order,
#queue {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px;
}

.show-block {
  display: grid;
}

.hide-block {
  display: none;
}

#loader_container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-content: center;

  h2 {
    margin-top: 30px;
    width: 240px;
  }
}

.loader {
  border: 10px solid #f5f5f5;
  border-top: 10px solid black;

  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
