@use '../base/vars' as *;

#ordercontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  width: 100%;
  height: 100%;
}

.order {
  position: relative;

  h3 {
    margin: 10px;
  }

  p {
    font-size: 1rem;
    margin: 10px;
  }

  .time {
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-weight: 900;
  }
}
