@use '../base/vars' as *;
@use '../base/mixins'as *;

#ordercontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  width: 100%;
  height: 100%;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
  }

  @include desktop {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/6;
  }
}

.order {
  background-color: white;
  border-radius: 15px;
  position: relative;

  h3 {
    margin: 10px;
  }

  p {
    font-size: 1rem;
    margin: 10px;
  }

  .time {
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    font-weight: 900;
  }
}
