@use '../base/vars'as *;
@use '../base/mixins'as *;

#queue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    margin: 0;
    z-index: 10;
  }

  p {
    margin: 0;
    font-size: 1.8rem;
    z-index: 10;
  }
}

#chart-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  cursor: pointer;
}
