#tapcontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 7px;

  .tapwrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    h3 {
      text-align: center;
      font-size: 1.8rem;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  .tap {
    width: 100%;
    height: calc(100% - 36px);
    border-radius: 15px;
    display: grid;
    background-color: white;
    position: relative;

    .overlay {
      width: 100%;
      height: 40%;
      align-self: end;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: 1s all;
    }

    .tap-icon {
      width: 25px;
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translate(-50%, 0);
    }

    .tap-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 1.4rem;
      padding: 0 10px;

      .keg-icon {
        width: 30px;
      }

      div {
        display: flex;
      }
    }
  }
}

[data-beertype="ElHefe"] {
  .overlay {
    background-color: #f5ca06;
  }
}

[data-beertype="Fairy Tale Ale"] {
  .overlay {
    background-color: #eb8d02;
  }
}

[data-beertype="GitHop"] {
  .overlay {
    background-color: #eb8d02;
  }
}

[data-beertype="Hollaback Lager"] {
  .overlay {
    background-color: #cc5408;
  }
}

[data-beertype="Hoppily Ever After"] {
  .overlay {
    background-color: #eb8d02;
  }
}

[data-beertype="Mowintime"] {
  .overlay {
    background-color: #cc5408;
  }
}

[data-beertype="Row 26"] {
  .overlay {
    background-color: #3d1102;
  }
}

[data-beertype="Ruined Childhood"] {
  .overlay {
    background-color: #bf7d02;
  }
}

[data-beertype="Sleighride"] {
  .overlay {
    background-color: #bf7d02;
  }
}

[data-beertype="Steampunk"] {
  .overlay {
    background-color: #d6a309;
  }
}
