@use '../base/vars'as *;
@use '../base/mixins'as *;

#tapcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7px;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
  }

  @include desktop {
    grid-template-columns: repeat(7, 1fr);
    grid-column: 1/8;
  }

  .tapwrapper {
    width: 100%;
    height: 250px;

    @include desktop {
      height: 100%;
    }

    h3 {
      text-align: center;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  .tap {
    width: 100%;
    height: calc(100% - 36px);
    border-radius: 15px;
    display: grid;
    background-color: white;
    position: relative;
    overflow: hidden;

    .overlay {
      width: 100%;
      height: 40%;
      align-self: end;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: 1s all;
    }

    .tap-icon {
      width: 25px;
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translate(-50%, 0);

      .beerflow {
        height: 0;
        transition: 2s all;
      }
    }

    .tap-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 1.4rem;
      padding: 0 10px;

      .keg-icon {
        width: 30px;
      }

      div {
        display: flex;
      }
    }
  }
}

.empty {
  animation: blinking 1s infinite;
}

.change {
  color: black;
}

@-webkit-keyframes blinking {
  0%,
  49% {
    background-color: white;
  }
  50%,
  100% {
    background-color: #e50000;
  }
}

.active {
  .handle {
    animation-name: active;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .beerflow {
    animation-name: beerflow;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.inactive {
  .handle {
    animation-name: inactive;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .beerflow {
    animation-name: beerflow_end;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes active {
  0% {
    d: path("M50.9,15.6C50.8,6.9,43.7-0.1,35.1,0h-1.2C25.2-0.1,18.1,6.9,18,15.6v29.6c0,0.3,0,0.6,0,1l0,0v20.3 c0,2.7,2.2,4.9,4.9,4.9l0,0H46c2.7,0,4.9-2.2,4.9-4.9V46.1h-0.1c0-0.3,0.1-0.6,0.1-1V15.6z");
  }
  100% {
    d: path("M50.9,56.4c-0.1-2.3-7.2-4.2-15.8-4.2h-1.2c-8.7,0-15.8,1.9-15.9,4.2v7.9c0,0.1,0,0.2,0,0.3l0,0v5.5c0,0.7,2.2,1.3,4.9,1.3l0,0H46c2.7,0,4.9-0.6,4.9-1.3v-5.5h-0.1c0-0.1,0.1-0.2,0.1-0.3V56.4z");
  }
}

@keyframes inactive {
  0% {
    d: path("M50.9,56.4c-0.1-2.3-7.2-4.2-15.8-4.2h-1.2c-8.7,0-15.8,1.9-15.9,4.2v7.9c0,0.1,0,0.2,0,0.3l0,0v5.5c0,0.7,2.2,1.3,4.9,1.3l0,0H46c2.7,0,4.9-0.6,4.9-1.3v-5.5h-0.1c0-0.1,0.1-0.2,0.1-0.3V56.4z");
  }
  100% {
    d: path("M50.9,15.6C50.8,6.9,43.7-0.1,35.1,0h-1.2C25.2-0.1,18.1,6.9,18,15.6v29.6c0,0.3,0,0.6,0,1l0,0v20.3 c0,2.7,2.2,4.9,4.9,4.9l0,0H46c2.7,0,4.9-2.2,4.9-4.9V46.1h-0.1c0-0.3,0.1-0.6,0.1-1V15.6z");
  }
}

@keyframes beerflow {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes beerflow_end {
  0% {
    height: 100%;
    transform: translateY(0%);
  }

  100% {
    height: 100%;
    transform: translateY(100%);
  }
}

[data-beertype="El Hefe"] {
  .overlay {
    background-color: #f5ca06;
  }

  .beerflow {
    fill: darken($color: #f5ca06, $amount: 8);
  }
}

[data-beertype="Fairy Tale Ale"] {
  .overlay {
    background-color: #eb8d02;
  }

  .beerflow {
    fill: darken($color: #eb8d02, $amount: 8);
  }
}

[data-beertype="GitHop"] {
  .overlay {
    background-color: #eb8d02;
  }
  .beerflow {
    fill: darken($color: #eb8d02, $amount: 8);
  }
}

[data-beertype="Hollaback Lager"] {
  .overlay {
    background-color: #cc5408;
  }
  .beerflow {
    fill: darken($color: #cc5408, $amount: 8);
  }
}

[data-beertype="Hoppily Ever After"] {
  .overlay {
    background-color: #eb8d02;
  }
  .beerflow {
    fill: darken($color: #eb8d02, $amount: 8);
  }
}

[data-beertype="Mowintime"] {
  .overlay {
    background-color: #cc5408;
  }
  .beerflow {
    fill: darken($color: #cc5408, $amount: 8);
  }
}

[data-beertype="Row 26"] {
  .overlay {
    background-color: #3d1102;
  }
  .beerflow {
    fill: darken($color: #3d1102, $amount: 8);
  }
}

[data-beertype="Ruined Childhood"] {
  .overlay {
    background-color: #bf7d02;
  }
  .beerflow {
    fill: darken($color: #bf7d02, $amount: 8);
  }
}

[data-beertype="Sleighride"] {
  .overlay {
    background-color: #bf7d02;
  }
  .beerflow {
    fill: darken($color: #bf7d02, $amount: 8);
  }
}

[data-beertype="Steampunk"] {
  .overlay {
    background-color: #d6a309;
  }
  .beerflow {
    fill: darken($color: #d6a309, $amount: 8);
  }
}
