@use '../base/vars'as *;
@use '../base/mixins'as *;

.worker {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  h3,
  p {
    margin: 0;
  }

  h3 {
    margin-bottom: 5px;
  }
}
