@use 'vars'as *;
* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  background-color: $background-color;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 15rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}
